{% extends "base.html" %}

{% block title %}CTP About{% endblock %}

{% block body %}
<hr style="background-color:green;border:none;height:1px;">
<h2>About</h2>
<p style="font-size:18px;">
  The Central Training Portal can be used to manage and record training information. Registration is required.<br>
  Contact <a href="mailto:ctp.support@some.org">CTP support</a> if you need help or have feedback.
</p>
<hr style="background-color:green;border:none;height:1px;">
<hr style="background-color:green;border:none;height:1px;">
{% endblock %}
