{% extends "base.html" %}

{% block title %}CTP Training Remove{% endblock %}

{% block head_ico %}
  {% load static %}
  <link rel="icon" href="{% static 'learning/img/delete.ico' %}" type="image/x-icon">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% block content %}
          <br><h3>Confirm deletion</h3>
          <hr style="background-color:green;border:none;height:1px;">
          {% if user.is_authenticated %}
            {% if bulk_remove %}
            <form action="{% url 'bulk_remove_training' %}" method="post">
              {% csrf_token %}
              {% for training_id in selected_training_ids %}
              <input type="hidden" name="selected_training_ids" value="{{ training_id }}">
              {% endfor %}
              <input type="hidden" name="confirm_removal" value="1">
              <p>Are you sure you want to remove the following {{ selected_training_list|length }} training record(s)? This action cannot be undone.</p>
              <ul>
                {% for training in selected_training_list %}
                <li><strong>{{ training.course }}</strong>, completion date: <strong>{{ training.completion_date }}</strong></li>
                {% endfor %}
              </ul>
              <input type="submit" class="btn rounded-5 btn-success border-2" style="font-size:16px; padding:6px 24px; color:white;" value="Confirm" /> &nbsp;&nbsp;
              <a href="{% url 'training' %}" class="btn rounded-5 btn-outline-secondary border-2" style="font-size:16px; padding:6px 24px; color:#333; background-color:#f8f9fa;">Cancel</a>
              <p><br>You will need to add training again if in the future completion is required.</p>
            </form>
            {% else %}
            <form action="" method="post">
              {% csrf_token %}
              <p>Are you sure you want to remove <strong>{{ training_list.course }}</strong>, completion date: <strong>{{ training_list.completion_date }}</strong>? This action cannot be undone.</p>
              <input type="submit" class="btn rounded-5 btn-success border-2" style="font-size:16px; padding:6px 24px; color:white;" value="Confirm" /> &nbsp;&nbsp;
              <a href="{% url 'training' %}" class="btn rounded-5 btn-outline-secondary border-2" style="font-size:16px; padding:6px 24px; color:#333; background-color:#f8f9fa;">Cancel</a>
              <p><br>You will need to add training again if in the future completion of this course is required.</p>
            </form>
            {% endif %}
          {% else %}
          <p style="font-size:20px;">
            Please <a href="{% url 'account_signup' %}">register</a> or <a href="{% url 'account_login' %}">sign in</a> to your account.
          </p>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
