{% extends "base.html" %}

{% block title %}CTP Home{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br>
        {% block content %}
          <h2>Welcome to the Training Portal</h2>
          {% if user.is_authenticated %}
            {% if user.is_staff and user.is_superuser %}
            <p>You are signed in as an administrator. You can manage all application data through the <a href="{% url 'admin:index' %}">Django admin site</a>, including courses and all user training records.</p>
            {% else %}
            <p>You can use this application to add, view, update and remove your own <a href="{% url 'training' %}">training records</a>.</p>
            {% endif %}
          {% else %}
          <p style="font-size:20px;">
            Please <a href="{% url 'account_signup' %}">register</a> or <a href="{% url 'account_login' %}">sign in</a> to your account.
          </p>
          {% endif %}
          <hr style="background-color:green;border:none;height:1px;">
          <hr style="background-color:green;border:none;height:1px;">
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
